/* MENU */
.ant-menu {
  background-color: var(--dark-10) !important;
}

.ant-menu-item {
  color: var(--white) !important;
}

.ant-menu-item-selected {
  color: var(--blue-primary) !important;
}

:where(.css-dev-only-do-not-override-jzo6s3).ant-menu-light
  .ant-menu-item:not(.ant-menu-item-selected):not(
    .ant-menu-submenu-selected
  ):hover {
  color: var(--brand-color-blue-gradient);
}

/* DROPDOWN */
.btnMoreItems {
  background-color: var(--dark-10) !important;
  color: var(--white) !important;
  border-color: var(--dark-10) !important;
}

.ant-dropdown-menu {
  background-color: var(--dark-10) !important;
}

.ant-dropdown-menu-item {
  color: var(--white) !important;
}

/* BUTTON MY ACCOUNT */
.btnMyaccount {
  background-image: var(--brand-color-blue-gradient) !important;
  color: var(--white) !important;
  border-color: var(--blue-primary) !important;
}

.btnMyaccount:hover {
  background-image: var(--selected-blue-gradient);
  color: var(--white) !important;
}


/* DIVIDER */
.ant-divider {
  border-color: var(--dark-30);
}
